#descripcion{
   display:flex;
   padding: 4rem; 
   align-items: center;
}

.text-descripcion{
    flex-basis: 70%;
}

.img-descripcion{
    flex-basis: 30%;
    text-align: center;
}

.img-descripcion img{
    width: 50%;
}